<%= render 'pages/home' unless user_signed_in? %>

<div id='pins' class='transitions-enabled'><!--#pins-->

  <% @pins.each do |pin| %>
    <div class='box panel panel-default'><!--.box-->

      <%= link_to image_tag(pin.image.url(:medium)), pin %>

      <div class='panel-body'>
        <p><%= pin.description %></p>
        <p><strong><%= pin.user.username if pin.user %></strong></p>
      </div>

      <% if current_user && pin.user == current_user %>
        <div class='actions panel-footer'>

          <%= link_to edit_pin_path(pin) do %>
            <span class="fa fa-pencil-square-o"></span> Edit
          <% end %> |

          <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="fa fa-trash-o"></span> Delete
          <% end %>

        </div>

      <% end %>
      

    </div><!--END #box-->

  <% end %>
</div><!--END .pins-->

<div class='center'>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>